*{
    margin: 0;
    padding: 0;
}

ul{
    padding: 10px;
    background-color: rgb(255, 255, 255);   
}

li{
    margin-right: 130px;
}

h1{
    background-color: black;
    width: 120%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;  
}


