*{
    margin: 0;
    padding: 0;
}

ul{
    padding: 10px;
    background-color: rgb(255, 255, 255);   
}

li{
    margin-right: 130px;
}

h1{
    background-color: black;
    width: 120%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.footer{ 
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: center;
    text-align: center;
    height: 350px;
   
   
}
.mini-footer{
    margin-top: 100px;
}

 .footer1{}

.social{
    display: flex;
    margin-left: 500px;
    margin-top: 70px;
}